//custom
$colour-primary: #E92569;
$colour-input: white;

//bootstrap

$input-bg: $colour-input;
$accordion-bg: $colour-input;

$theme-colors: (
    "primary": $colour-primary,
);

$body-bg: #E5E5E5;

// carousel

$carousel-indicator-width: 30px;
$carousel-indicator-height: 30px;




