//custom
$colour-primary: #E92569;
$colour-input: white;

//bootstrap

$input-bg: $colour-input;
$accordion-bg: $colour-input;

$theme-colors: (
    "primary": $colour-primary,
);

//fonts

$font-family-headings: "Playfair Display", serif;
$font-family-primary: "Lato", sans-serif;

$body-bg: #E5E5E5;

