@import "./custom.scss";
@import "~bootstrap/scss/bootstrap";
@import "./partials/typography";
@import "./partials/nav";
@import "./partials/carousel";
@import "./partials/tabs";
@import "./partials/footer";
@import "./partials/accordion";
@import "./partials/newscard";
@import "./partials/contactform";

html,
body {
    height: 100%;
}


.btn-success {
    background-color: $colour-primary;
    color: white;
}

.wrapper {
    flex: 1 0 auto;
}


.yaythings-container {
    margin: 50px auto;
}

a {
    color: black;
    text-decoration: none;
}

i {
    font-size: 1.6rem;
    padding: 5px;
}

.nav-link.active {
    background-color: white;;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav__container {
    background: #f9f4f4;
}

h2 {
    margin: 30px 0;
}



