.carousel-control-prev, .carousel-control-next {
    display: none;
}

.carousel-indicators {
    margin-bottom: 2rem;

    button.active {
        background-color: $colour-primary;
    }
}

.carousel-item img {
    max-height: 550px;
    min-height: 287px;
}


