h1, h2 {
    color: $colour-primary;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.6rem;
}

h2, h3, h4 {
    font-family: "Playfair Display", serif;
}

h5,p,a, .btn,label, .list-group {
    font-family: "Lato", sans-serif
}


